// prevent scoped modules from being fetched from the internet - use workspace:*
@modules:registry=doNotFetchFromPublicRegistry:9999
@satlayer:registry=doNotFetchFromPublicRegistry:9999
@workspace:registry=doNotFetchFromPublicRegistry:9999
@crate:registry=doNotFetchFromPublicRegistry:9999
@examples:registry=doNotFetchFromPublicRegistry:9999