// prevent scoped modules from being fetched from the internet - use workspace:*
@modules:registry=doNotFetchFromPublicRegistry:9999
@packages:registry=doNotFetchFromPublicRegistry:9999
@crates:registry=doNotFetchFromPublicRegistry:9999
@docs:registry=doNotFetchFromPublicRegistry:9999
@examples:registry=doNotFetchFromPublicRegistry:9999