.husky
.idea
.vscode
.next
node_modules
dist
pnpm-lock.yaml
*.go
*.rs
*.lock
.github/pull_request_template.md
crates/debug/
crates/target/
crates/*/artifacts/
crates/*/schema/
examples/*/*/debug/
examples/*/*/target/
examples/*/*/artifacts/
examples/*/*/schema/
docs/public/_pagefind/
*.md
*.mdx
contracts/lib/
contracts/broadcast/*/*/dry-run/
contracts/out/
contracts/cache/